/* You can add global styles to this file, and also import other style files */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.backdrop-filter {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode *{
  background-color: #1e1e1e !important;
  color: #f1f1f1 !important;
  border-color: #333 !important;
}
